@font-face {
    font-family: woff;
    font-display: swap;
    src: url('woff.ttf');
  }
  A{
    color: black;
    text-decoration: none;
}

A :hover{
    
    text-decoration: none;
    
}
A:visited{
    color: black;
    text-decoration: none;
}

A :link {
    
    color: black;
    text-decoration: none; 
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'woff';
    background-color: #ededed;

    

}

.col-1 {
    flex-basis: 5%;
}

.col-2 {
    flex-basis: 10%;
}

.col-3 {
    flex-basis: 15%;
}

.col-4 {
    flex-basis: 20%;
}

.col-5 {
    flex-basis: 25%;

     
}

.col-6 {
    flex-basis: 30%;
}

.col-7 {
    flex-basis: 35%;
}

.col-8 {
    flex-basis: 40%;
}

.col-9 {
    flex-basis: 45%;
}

.col-10 {
    flex-basis: 50%;
}

.col-11 {
    flex-basis: 55%;
}

.col-12 {
    flex-basis: 60%;
}

.col-13 {
    flex-basis: 65%;
}

.col-14 {
    flex-basis: 70%;
}

.col-15 {
    flex-basis: 75%;
}

.col-16 {
    flex-basis: 80%;
}

.col-17 {
    flex-basis: 85%;
}

.col-18 {
    flex-basis: 90%;
}

.col-19 {
    flex-basis: 95%;
}

.col-20 {
    flex-basis: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-16, .col-17, .col-18, .col-20 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16,
.col-xs-17,
.col-xs-18,
.col-xs-20 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}
.col-xs-1 {
  flex-basis: 5%;
}
.col-xs-2 {
  flex-basis: 10%;
}
.col-xs-3 {
  flex-basis: 15%;
}
.col-xs-4 {
  flex-basis: 20%;
}
.col-xs-5 {
  flex-basis: 25%;
}
.col-xs-6 {
  flex-basis: 30%;
}
.col-xs-7 {
  flex-basis: 35%;
}
.col-xs-8 {
  flex-basis: 40%;
}
.col-xs-9 {
  flex-basis: 45%;
}
.col-xs-10 {
  flex-basis: 50%;
}
.col-xs-11 {
  flex-basis: 55%;
}
.col-xs-12 {
  flex-basis: 60%;
}
.col-xs-13 {
  flex-basis: 65%;
}
.col-xs-14 {
  flex-basis: 70%;
}
.col-xs-15 {
  flex-basis: 75%;
}
.col-xs-16 {
  flex-basis: 80%;
}
.col-xs-17 {
  flex-basis: 85%;
}
.col-xs-18 {
  flex-basis: 90%;
}
.col-xs-19 {
  flex-basis: 95%;
}
.col-xs-20 {
  flex-basis: 100%;
}

@media (min-width: 768px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-13,
  .col-md-14,
  .col-md-15,
  .col-md-16,
  .col-md-17,
  .col-md-18,
  .col-md-20 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  .col-md-1 {
    flex-basis: 5%;
  }
  .col-md-2 {
    flex-basis: 10%;
  }
  .col-md-3 {
    flex-basis: 15%;
  }
  .col-md-4 {
    flex-basis: 20%;
  }
  .col-md-5 {
    flex-basis: 25%;
  }
  .col-md-6 {
    flex-basis: 30%;
  }
  .col-md-7 {
    flex-basis: 35%;
  }
  .col-md-8 {
    flex-basis: 40%;
  }
  .col-md-9 {
    flex-basis: 45%;
  }
  .col-md-10 {
    flex-basis: 50%;
  }
  .col-md-11 {
    flex-basis: 55%;
  }
  .col-md-12 {
    flex-basis: 60%;
  }
  .col-md-13 {
    flex-basis: 65%;
  }
  .col-md-14 {
    flex-basis: 70%;
  }
  .col-md-15 {
    flex-basis: 75%;
  }
  .col-md-16 {
    flex-basis: 80%;
  }
  .col-md-17 {
    flex-basis: 85%;
  }
  .col-md-18 {
    flex-basis: 90%;
  }
  .col-md-19 {
    flex-basis: 95%;
  }
  .col-md-20 {
    flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  header img {
    display: block;
  }
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-13,
  .col-lg-14,
  .col-lg-15,
  .col-lg-16,
  .col-lg-17,
  .col-lg-18,
  .col-lg-20 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  .col-lg-1 {
    flex-basis: 5%;
  }
  .col-lg-2 {
    flex-basis: 10%;
  }
  .col-lg-3 {
    flex-basis: 15%;
  }
  .col-lg-4 {
    flex-basis: 20%;
  }
  .col-lg-5 {
    flex-basis: 25%;
  }
  .col-lg-6 {
    flex-basis: 30%;
  }
  .col-lg-7 {
    flex-basis: 35%;
  }
  .col-lg-8 {
    flex-basis: 40%;
  }
  .col-lg-9 {
    flex-basis: 45%;
  }
  .col-lg-10 {
    flex-basis: 50%;
  }
  .col-lg-11 {
    flex-basis: 55%;
  }
  .col-lg-12 {
    flex-basis: 60%;
  }
  .col-lg-13 {
    flex-basis: 65%;
  }
  .col-lg-14 {
    flex-basis: 70%;
  }
  .col-lg-15 {
    flex-basis: 75%;
  }
  .col-lg-16 {
    flex-basis: 80%;
  }
  .col-lg-17 {
    flex-basis: 85%;
  }
  .col-lg-18 {
    flex-basis: 90%;
  }
  .col-lg-19 {
    flex-basis: 95%;
  }
  .col-lg-20 {
    flex-basis: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-13,
  .col-xl-14,
  .col-xl-15,
  .col-xl-16,
  .col-xl-17,
  .col-xl-18,
  .col-xl-20 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }
  .col-xl-1 {
    flex-basis: 5%;
  }
  .col-xl-2 {
    flex-basis: 10%;
  }
  .col-xl-3 {
    flex-basis: 15%;
  }
  .col-xl-4 {
    flex-basis: 20%;
  }
  .col-xl-5 {
    flex-basis: 25%;
  }
  .col-xl-6 {
    flex-basis: 30%;
  }
  .col-xl-7 {
    flex-basis: 35%;
  }
  .col-xl-8 {
    flex-basis: 40%;
  }
  .col-xl-9 {
    flex-basis: 45%;
  }
  .col-xl-10 {
    flex-basis: 50%;
  }
  .col-xl-11 {
    flex-basis: 55%;
  }
  .col-xl-12 {
    flex-basis: 60%;
  }
  .col-xl-13 {
    flex-basis: 65%;
  }
  .col-xl-14 {
    flex-basis: 70%;
  }
  .col-xl-15 {
    flex-basis: 75%;
  }
  .col-xl-16 {
    flex-basis: 80%;
  }
  .col-xl-17 {
    flex-basis: 85%;
  }
  .col-xl-18 {
    flex-basis: 90%;
  }
  .col-xl-19 {
    flex-basis: 95%;
  }
  .col-xl-20 {
    flex-basis: 100%;
  }
}

.navcolor {
    background-color: blue;
    height: 120px;
    padding-top: 30px;
    font-size: 17px;
}
.highschool {
     
    font-size: 17px;
    border-color: blue;
    margin-left: 8px;
    
    
}



.primaryschool {
    margin-left: 8px;
}

.managementteam {
    margin-left: 8px;
}

.kindegarden {
    margin-left: 8px;
}

.information {
    background-color: rgb(24, 23, 23);
    color: white
}

.informationword {
    background-color: rgb(24, 23, 23);
    color: white 
}

.highschoolnav {
     background-color: red;
 }

.primaryschoolnav {
    background-color: yellow;
}

.kindegardennav {
    background-color: rgb(11, 139, 11);
}

.managementteamnav {
    background-color: blue;
}

.section-nav {
    height: 120px;
    font-size: 20px;
    padding: 8px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    
    
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 4em;
    padding-right: 4em;
    max-width: 1200px;
    
  }

  .team_header {
    margin-top: 27px;
    margin-bottom: 27px;
    padding-left: 8px;
    padding-right: 10px;
    padding-top: 27px;
    padding-bottom: 27px;
    font-size: 50px;
    font-weight:normal ;


  }
  .colorrownav {
      color: black;
      
      
  }
  
   .highschool{
  
   
  }  

  
  .hr1 {
    border: none;
    background-color: blue;
    color: blue;
    height: 2px;

  }
  .hr2 {
    border: none;
    background-color: white;
    color: white;
    height: 2px;   
  }
  .header-spacer {
    flex-grow: 2;
    text-align: right;
  }